:root {
  --svgTransitionTime: 0.3s;
}

.base {
  width: 1.5rem;
  transition: all var(--svgTransitionTime);

  path,
  circle,
  rect,
  line {
    transition: all var(--svgTransitionTime);
  }
}

@mixin svgStyles;
