:root {
  --borderColor: green;
  --background1: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  --shadow1: 10px 5px 5px red;
  --shadow2: 10px 5px 5px blue;
  --backgroundColor1: rgba(4, 40, 68, 0.85);
  --outlineColor1: rgba(4, 40, 68, 0.85);
  --borderColor1: rgba(4, 40, 68, 0.85);
  --color1: rgba(4, 40, 68, 0.85);
  --purple1: #8562a1;
  --blue6: #1e39b3;
}
.button {
  --blue: red;
}

$colors: purple1, blue6;
$shadows: 1, 2, 3, 4, 5, 6, 7;
$backgrounds: 1, 2, 3;

@each $color in $colors {
  .color_$(color),
  .color_h_$(color):hover,
  ._h:hover > .color_h_$(color) {
    color: var(--$(color));
  }

  .color_f_$(color):focus-within,
  ._f:focus-within > .color_f_$(color) {
    color: var(--$(color));
  }

  .color_a_$(color):active {
    color: var(--$(color));
  }

  .bgColor_$(color),
  .bgColor_h_$(color):hover,
  ._h:hover > .bgColor_h_$(color) {
    background-color: var(--$(color));
  }

  .bgColor_f_$(color):focus-within,
  ._f:focus-within > .bgColor_f_$(color) {
    background-color: var(--$(color));
  }

  .bgColor_a_$(color):active {
    background-color: var(--$(color));
  }

  .borderColor_$(color),
  .borderColor_h_$(color):hover,
  ._h:hover > .borderColor_h_$(color) {
    border-color: var(--$(color));
  }

  .borderColor_f_$(color):focus-within,
  ._f:focus-within > .borderColor_f_$(color) {
    border-color: var(--$(color));
  }

  .borderColor_a_$(color):active {
    border-color: var(--$(color));
  }

  .outlineColor_$(color),
  .outlineColor_h_$(color):hover,
  ._h:hover > .outlineColor_h_$(color) {
    outline-color: var(--$(color));
  }

  .outlineColor_f_$(color):focus-within,
  ._f:focus-within > .outlineColor_f_$(color) {
    outline-color: var(--$(color));
  }

  .outlineColor_a_$(color):active {
    outline-color: var(--$(color));
  }

  .fill_$(color),
  .fill_h_$(color):hover,
  ._h:hover > .fill_h_$(color) {
    path,
    circle,
    rect,
    line {
      fill: var(--$(color));
    }
  }

  .fill_f_$(color):focus-within,
  ._f:focus-within > .fill_f_$(color) {
    path,
    circle,
    rect,
    line {
      fill: var(--$(color));
    }
  }

  .fill_a_$(color):active {
    path,
    circle,
    rect,
    line {
      fill: var(--$(color));
    }
  }

  .stroke_$(color),
  .stroke_h_$(color):hover,
  ._h:hover > .stroke_h_$(color) {
    path,
    circle,
    rect,
    line {
      stroke: var(--$(color));
    }
  }

  .stroke_f_$(color):focus-within,
  ._f:focus-within > .stroke_f_$(color) {
    path,
    circle,
    rect,
    line {
      stroke: var(--$(color));
    }
  }

  .stroke_a_$(color):active {
    path,
    circle,
    rect,
    line {
      stroke: var(--$(color));
    }
  }
}

@each $shadow in $shadows {
  .shadow_$(shadow),
  .shadow_h_$(shadow):hover,
  ._h:hover > .shadow_h_$(shadow) {
    box-shadow: var(--shadow$(shadow));
  }

  .shadow_f_$(shadow):focus-within,
  ._f:focus-within > .shadow_f_$(shadow) {
    box-shadow: var(--shadow$(shadow));
  }

  .shadow_a_$(shadow):active {
    box-shadow: var(--shadow$(shadow));
  }
}

@each $background in $backgrounds {
  .bg_$(background),
  .bg_h_$(background):hover,
  ._h:hover > .bg_h_$(background) {
    background: var(--background$(background));
  }

  .bg_f_$(background):focus-within,
  ._f:focus-within > .bg_f_$(background) {
    background: var(--background$(background));
  }

  .bg_a_$(background):active {
    background: var(--background$(background));
  }
}
