:root {
  --colornone: none;
  --colorwhite: #fff;
  --colorblack: #07071b;
  --colorblack1: #1e293b;
  --colorviolet: #988bee;
  --colorvioletLight: #e8edfd;
  --colorvioletLighter: #f6f8fe;
  --colorgray1: #94a3b833;
  --colorgray2: #94a3b8;
  --colordark: #272822;
  --colorred: red;
  --shadownone: none;
  --backgroundnone: none;
  --backgroundstripes: linear-gradient(135deg,var(--colorviolet) 10%,#0000 0,#0000 50%,var(--colorviolet) 0,var(--colorviolet) 60%,#0000 0,#0000);;
}