:root {
  --none: none;
  --transparent: transparent;
  --black: black;
  --white: white;
  --blue: blue;
  --red: red;
  --purple: purple;
  --yellow: yellow;
  --pink: pink;
  --green: green;
  --orange: orange;
  --navy: navy;
  --teal: teal;
  --violet: violet;
  --gray: gray;
  --brown: brown;
  --orange: orange;

  --borderColor: black;
  --outlineColor: black;
  --lineHeight: 1.2;
  --fontSize: 14px;
  --transitionTime: 0.2s;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  line-height: var(--lineHeight);
  font-size: var(--fontSize);
}

.box {
  display: block;
  border: 0 solid var(--borderColor);
  outline: 0px solid var(--outlineColor);
  margin: 0;
  padding: 0;
  background-color: initial;
  transition: all var(--transitionTime);
  box-sizing: border-box;
  font-family: inherit;
}

@mixin boxStyles;
