:root {
  --borderColor: black;
  --outlineColor: black;
  --lineHeight: 1.2;
  --fontSize: 14px;
  --transitionTime: 0.25s;

  #crono-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
  }
}

html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  line-height: var(--lineHeight);
  font-size: var(--fontSize);
}

a,
ul {
  all: unset;
}

.box {
  display: block;
  border: 0 solid var(--borderColor);
  outline: 0px solid var(--outlineColor);
  margin: 0;
  padding: 0;
  background-color: initial;
  transition: all var(--transitionTime);
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

@mixin boxStyles;

[type='checkbox']:not(:checked) + ._checkedIcon {
  display: none;
}
